
.navbarinfo
{
 height: 50px;
 width: auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0px 9vh;
 background-color: #363041;
 .menu
 {
  display:  flex;
  button
   {
    background-color: transparent;
    border: none;
   }
  .taskadd
  {
   padding-left: 10px;
   button
   {
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: none;
    align-items: center;
    display: flex;
    img
    {
     padding-right: 5px;
    }
   }
  }
 }
  .userInfo
  {
   display: flex;
   align-items: center;
   .imguser
   {
     img
     {

     }
   }
   p{
    margin: 0;
    color:whitesmoke;
    font-size: 0.8em;
   }
  }
}