.bodyelement
{
 display: flex;
 flex-direction: column;
 padding-left: 20%;
 padding-right: 20%;
 
 .top
 {
  padding-top: 15vh;
  h3
  {
   color: white;
   font-size: 2em;
   margin: 0;
  }
  p
  {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8em;
  }
 }

 .inputDiv
 {
   display:flex ;
   height: 5vh;
   width: auto;
   background-color:#363041;
   border: 1px solid #363041 ;
   border-radius: 5px;
   padding: 5px;

   button
   {
     display: flex;
     align-items: center;
     width:4% ;
     background-color: #B4ACF9;
     border: 1px solid #B4ACF9 ;
     border-radius: 2px;

   }
   input
   {
      width:100% ;
      background-color:#363041;
      border: none;
      padding-left: 15px;
      color: white;
      ::placeholder
      {
            color: whitesmoke;
      }

   }
 }
 .taskDiv
 {
  
   height: 40vh;
   padding-top: 5vh;
   h3
   {
    color: white;
    font-size: 2em;
    margin: 0;
   }
   .taskk
   {
    height: 40vh;
    overflow-y: auto;
    
   }
 }
}
::-webkit-scrollbar
 {
   background-color: transparent;
   width: 9px;
   height: 3px;
 }
   ::-webkit-scrollbar-thumb
  {
    background-color: #B4ACF9;
    height: 3px;
    width: 3px;
    border-radius: 10px;
  }