.TaskDiv
{
   background-color:#363041;
   border: 1px solid #363041 ;
   border-radius: 5px;
   padding: 10px;
   height: auto;
   margin-top:2vh;
   margin-bottom: 2vh;
   

 .DivTask
 {
   height: auto;
   width: auto;
   display:flex ;
   align-items: center;
   height: auto;
   width: auto;
   input
   {
     
     width:10% ;
     background-color: #B4ACF9;
     border: 1px solid #B4ACF9 ;
     border-radius: 2px;

   }
   .text
   {
    margin-top: 0;
    margin-bottom: 0;
      padding-left: 15px;
      color: white;
      ::placeholder
      {
         color: whitesmoke;
      }

   }
 }
}

.end
 {
  text-decoration: line-through;
 }